body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    border: 2px solid black;
    padding: 8px;
    margin: 16px auto;
    max-width: 400px;
    text-align: center;
}
input {
    margin-bottom: 16px;
    padding: 4px;
}

form i {
    margin-left: -30px;
    cursor: pointer;
    width: 16px;
}